<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="col-md-6 col-sm-6 create-new-account" th:fragment="userdata">
        <h4 class="checkout-subtitle" th:text="#{manageAccount.manageYourAccount}">Manage your account</h4>
        <p class="text title-tag-line" th:text="#{manageAccount.fillAccountData}">Fill your personal data.</p>
        <form class="register-form outer-top-xs" role="form" action="register" th:action="@{/account/userdata}" method="post">
            <input type="hidden" th:value="${user.id}" th:name="id">
            <div class="form-group">
                <label class="info-title" for="login" th:text="#{auth.login}">Login <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="login" th:name="username" th:value="${user.username}" >
            </div>
            <div class="form-group">
                <label class="info-title" for="name" th:text="#{user.name}">Name <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="name" th:name="firstname" th:value="${user.firstname}">
            </div>
            <div class="form-group">
                <label class="info-title" for="lastName" th:text="#{user.lastname}">Last name <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="lastName" th:name="lastname" th:value="${user.lastname}">
            </div>
            <div class="form-group">
                <label class="info-title" for="email" th:text="#{common.email}">email <span>*</span></label>
                <input type="email" class="form-control unicase-form-control text-input" id="email" th:name="email">
            </div>
            <div>
                <label class="info-title" for="password" th:text="#{user.Password}">Password <span>*</span></label>
                <input type="password" class="form-control unicase-form-control text-input" id="password" th:name="password" th:value="${user.password}">
            </div>
            <div class="form-group">
                <label class="info-title" for="password2" th:text="#{auth.confirmPassword}">Confirm Password <span>*</span></label>
                <input type="password" class="form-control unicase-form-control text-input" id="password2" th:name="password2">
            </div>
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button" th:text="#{manageAccount.update}">Update </button>
        </form>
    </div>

    <div class="col-md-6 col-sm-6 create-new-account" th:fragment="billingdata">
        <h4 class="checkout-subtitle" th:text="#{manageAccount.manageYourAccount}">Manage your account</h4>
        <p class="text title-tag-line" th:text="#{manageAccount.fillAccountData}">Fill your personal data.</p>
        <form class="register-form outer-top-xs" role="form" action="register" th:action="@{/account/billingdata}" method="post">
            <input type="hidden" th:value="${billingData.id}" th:name="id">
            <div class="form-group">
                <label class="info-title" for="street" th:text="#{billingData.street}">Street <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="street" th:name="street" th:value="${billingData.street}">
            </div>
            <div class="form-group">
                <label class="info-title" for="postalCode" th:text="#{billingData.postalCode}">Postal code <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="postalCode" th:name="postalCode" th:value="${billingData.postalCode}">
            </div>
            <div class="form-group">
                <label class="info-title" for="city" th:text="#{billingData.city}">City <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="city" th:name="city" th:value="${billingData.city}">
            </div>
            <div class="form-group">
                <label class="info-title" for="accountNumber" th:text="#{billingData.accountNumber}">Account number <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="accountNumber" th:name="accountNumber" th:value="${billingData.accountNumber}">
            </div>
            <div class="form-group">
                <label class="info-title" for="taxIdentificationNumber" th:text="#{billingData.taxIdentificationNumber}">Tax identification number <span>*</span></label>
                <input type="text" class="form-control unicase-form-control text-input" id="taxIdentificationNumber" th:name="taxIdentificationNumber" th:value="${billingData.taxIdentificationNumber}">
            </div>
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button" th:text="#{manageAccount.update}">Update </button>
        </form>
    </div>

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-1.11.1.min.js" th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>

    <script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

    <script src="assets/js/bootstrap-hover-dropdown.min.js" th:src="@{/assets/js/bootstrap-hover-dropdown.min.js}"></script>
    <script src="assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>

    <script src="assets/js/echo.min.js" th:src="@{/assets/js/echo.min.js}"></script>
    <script src="assets/js/jquery.easing-1.3.min.js" th:src="@{/assets/js/jquery.easing-1.3.min.js}"></script>
    <script src="assets/js/bootstrap-slider.min.js" th:src="@{/assets/js/bootstrap-slider.min.js}"></script>
    <script src="assets/js/jquery.rateit.min.js" th:src="@{/assets/js/jquery.rateit.min.js}"></script>
    <script type="text/javascript" src="assets/js/lightbox.min.js" th:src="@{/assets/js/lightbox.min.js}"></script>
    <script src="assets/js/bootstrap-select.min.js" th:src="@{/assets/js/bootstrap-select.min.js}"></script>
    <script src="assets/js/wow.min.js" th:src="@{/assets/js/wow.min.js}"></script>
    <script src="assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>

</body>
</html>