<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>sidebar-user fragment</title>
</head>
<body>
    <div class="side-menu animate-dropdown outer-bottom-xs" th:fragment="sidebar-user">
        <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
        <nav class="yamm megamenu-horizontal" role="navigation">
            <ul class="nav">
                <li class="dropdown menu-item">
                    <a id="userDataAnchor" class="dropdown-toggle"><i class="icon fa fa-laptop"></i><span th:text="#{manageAccount.userData}">User data</span></a>
                </li>
                <li class="dropdown menu-item">
                    <a id="billingDataAnchor" class="dropdown-toggle"><i class="icon fa fa-laptop"></i><span th:text="#{billingData.billingData}">Billing data</span></a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>