<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">

	<title>Flipmart premium HTML5 & CSS3 Template</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
	<link rel="stylesheet" href="assets/css/blue.css" th:href="@{/assets/css/blue.css}">
	<link rel="stylesheet" href="assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
	<link rel="stylesheet" href="assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
	<link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
	<link rel="stylesheet" href="assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
	<link rel="stylesheet" href="assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header th:replace="/fragments/header :: header"></header>
<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="home.html">Home</a></li>
				<li class='active'>FAQ</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="checkout-box faq-page">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading-title">Frequently Asked Questions</h2>
					<span class="title-tag">Last Updated on November 02, 2014</span>
					<form method="post" th:action="@{/auctions}">
						<div class="panel-group checkout-steps" id="accordion">
							<!-- checkout-step-01  -->
							<div class="panel panel-default checkout-step-01">

								<!-- panel-heading -->
								<div class="panel-heading">
									<h4 class="unicase-checkout-title">
										<a data-toggle="collapse" class="" data-parent="#accordion" href="#collapseOne">
											<span>1</span><label th:text="#{auction.title}">Title</label>
										</a>
									</h4>
								</div>
								<!-- panel-heading -->

								<div id="collapseOne" class="panel-collapse collapse in">

									<!-- panel-body  -->
									<div class="panel-body">
										<input type="text" th:field="${auction.title}">
									</div>
									<!-- panel-body  -->

								</div><!-- row -->
							</div>
							<!-- checkout-step-01  -->
							<!-- checkout-step-02  -->
							<div class="panel panel-default checkout-step-02">
								<div class="panel-heading">
									<h4 class="unicase-checkout-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
											<span>2</span><label th:text="#{auction.description}">Description</label>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<input type="text" th:field="${auction.description}">
									</div>
								</div>
							</div>
							<!-- checkout-step-02  -->
						</div><!-- /.checkout-steps -->
						<button type="submit" class="btn-upper btn btn-primary checkout-page-button"><label th:text="#{common.submit}">Submit</label></button>
					</form>
				</div>
			</div><!-- /.row -->
		</div><!-- /.checkout-box -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->

		<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->
<!-- ============================================================= FOOTER ============================================================= -->
<footer th:replace="/fragments/footer :: footer"></footer>
<!-- ============================================================= FOOTER : END============================================================= -->


<!-- For demo purposes – can be removed on production -->


<!-- For demo purposes – can be removed on production : End -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.11.1.min.js" th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>

<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

<script src="assets/js/bootstrap-hover-dropdown.min.js" th:src="@{/assets/js/bootstrap-hover-dropdown.min.js}"></script>
<script src="assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>

<script src="assets/js/echo.min.js" th:src="@{/assets/js/echo.min.js}"></script>
<script src="assets/js/jquery.easing-1.3.min.js" th:src="@{/assets/js/jquery.easing-1.3.min.js}"></script>
<script src="assets/js/bootstrap-slider.min.js" th:src="@{/assets/js/bootstrap-slider.min.js}"></script>
<script src="assets/js/jquery.rateit.min.js" th:src="@{/assets/js/jquery.rateit.min.js}"></script>
<script type="text/javascript" src="assets/js/lightbox.min.js" th:src="@{/assets/js/lightbox.min.js}"></script>
<script src="assets/js/bootstrap-select.min.js" th:src="@{/assets/js/bootstrap-select.min.js}"></script>
<script src="assets/js/wow.min.js" th:src="@{/assets/js/wow.min.js}"></script>
<script src="assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>

<!-- For demo purposes – can be removed on production -->

<!--<script src="switchstylesheet/switchstylesheet.js"></script>-->

<script>
	$(document).ready(function(){
		$(".changecolor").switchstylesheet( { seperator:"color"} );
		$('.show-theme-options').click(function(){
			$(this).parent().toggleClass('open');
			return false;
		});
	});

	$(window).bind("load", function() {
		$('.show-theme-options').delay(2000).trigger('click');
	});
</script>
<!-- For demo purposes – can be removed on production : End -->



</body>
</html>
