<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">

	<title th:text = "#{home.welcome}">Flipmart premium HTML5 & CSS3 Template</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
	<link rel="stylesheet" href="assets/css/blue.css" th:href="@{/assets/css/blue.css}">
	<link rel="stylesheet" href="assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
	<link rel="stylesheet" href="assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
	<link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
	<link rel="stylesheet" href="assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
	<link rel="stylesheet" href="assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header th:replace="/fragments/header :: header"></header>
<!-- ============================================== HEADER : END ============================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
	<div class="container">
		<div class="row">
			<!-- ============================================== SIDEBAR ============================================== -->
			<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
				<div th:replace="/fragments/manage-account/sidebar-user :: sidebar-user"></div>
			</div>
			<!-- ============================================== SIDEBAR : END ============================================== -->
			<!-- ============================================== CONTENT ============================================== -->
			<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder sign-in-page sign-in">
				<div id="settingsBlock">

				</div>
			</div>
			<!-- ============================================== CONTENT : END ============================================== -->
		</div>
	</div>
</div>

<div>
	<br><br><br>
</div>

<!-- ============================================================= FOOTER ============================================================= -->
<footer th:replace="/fragments/footer :: footer"></footer>
<!-- ============================================================= FOOTER : END============================================================= -->


<!-- For demo purposes – can be removed on production -->


<!-- For demo purposes – can be removed on production : End -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.11.1.min.js" th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>

<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

<script src="assets/js/bootstrap-hover-dropdown.min.js" th:src="@{/assets/js/bootstrap-hover-dropdown.min.js}"></script>
<script src="assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>

<script src="assets/js/echo.min.js" th:src="@{/assets/js/echo.min.js}"></script>
<script src="assets/js/jquery.easing-1.3.min.js" th:src="@{/assets/js/jquery.easing-1.3.min.js}"></script>
<script src="assets/js/bootstrap-slider.min.js" th:src="@{/assets/js/bootstrap-slider.min.js}"></script>
<script src="assets/js/jquery.rateit.min.js" th:src="@{/assets/js/jquery.rateit.min.js}"></script>
<script type="text/javascript" src="assets/js/lightbox.min.js" th:src="@{/assets/js/lightbox.min.js}"></script>
<script src="assets/js/bootstrap-select.min.js" th:src="@{/assets/js/bootstrap-select.min.js}"></script>
<script src="assets/js/wow.min.js" th:src="@{/assets/js/wow.min.js}"></script>
<script src="assets/js/scripts.js" th:src="@{/assets/js/scripts.js}"></script>

<script>

    $(document).ready(function(){
        $("#userDataAnchor").click(function(event){
            loadFragment("userdata")
        });
		$("#billingDataAnchor").click(function(event){
			loadFragment("billingdata")
		});
    });

    function loadFragment(name) {
        var url = "/account/" + name;
        $("#settingsBlock").load(url);
    }

</script>

</body>
</html>