<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Test file</title>
</head>
<body>
    <b>TEST</b>
    <b><span th:text = "#{home.welcome}"></span></b>
</body>
</html>