<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="/assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="/assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="/assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="dropdown dropdown-cart" th:fragment="shopping-cart">
    <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
        <div class="items-cart-inner">
            <div class="basket">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <div class="basket-item-count"><span class="count">2</span></div>
            <div class="total-price-basket">
                <span class="lbl">cart -</span>
                <span class="total-price">
						<span class="sign">$</span><span class="value">600.00</span>
					</span>
            </div>


        </div>
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="cart-item product-summary">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="image">
                            <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/detail.html"><img src="assets/images/cart.jpg" th:src="@{/assets/images/cart.jpg}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xs-7">

                        <h3 class="name"><a href="index.php?page-detail">Simple Product</a></h3>
                        <div class="price">$600.00</div>
                    </div>
                    <div class="col-xs-1 action">
                        <a href="#"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div><!-- /.cart-item -->
            <div class="clearfix"></div>
            <hr>

            <div class="clearfix cart-total">
                <div class="pull-right">

                    <span class="text">Sub Total :</span><span class='price'>$600.00</span>

                </div>
                <div class="clearfix"></div>

                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
            </div><!-- /.cart-total-->


        </li>
    </ul><!-- /.dropdown-menu-->
</div><!-- /.dropdown-cart -->
</body>
</html>