<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div th:fragment="sidebar">
    <!-- ================================== TOP NAVIGATION ================================== -->
    <div th:replace="/fragments/sidebar-categories :: sidebar-categories"></div>
    <!-- ================================== TOP NAVIGATION : END ================================== -->

    <!--<div class="home-banner outer-bottom-xs">-->
        <!--<img src="assets/images/banners/LHS-banner.jpg" alt="Image">-->
    <!--</div>-->
    <!---->
    <!--&lt;!&ndash; ============================================== HOT DEALS ============================================== &ndash;&gt;-->
    <!--<div th:replace="/fragments/sidebar-hotdeals :: sidebar-hotdeals"></div>-->
    <!--&lt;!&ndash; ============================================== HOT DEALS: END ============================================== &ndash;&gt;-->
    <!--&lt;!&ndash; ============================================== SPECIAL OFFER ============================================== &ndash;&gt;-->
    <!--<div th:replace="/fragments/sidebar-specialoffers :: sidebar-specialoffers"></div>-->
    <!--&lt;!&ndash; ============================================== SPECIAL OFFER : END ============================================== &ndash;&gt;-->
    <!--&lt;!&ndash; ============================================== PRODUCT TAGS ============================================== &ndash;&gt;-->
    <!--<div th:replace="/fragments/sidebar-producttags :: sidebar-producttags"></div>-->
    <!--&lt;!&ndash; ============================================== PRODUCT TAGS : END ============================================== &ndash;&gt;-->
    <!--&lt;!&ndash; ============================================== SPECIAL DEALS ============================================== &ndash;&gt;-->
    <!--<div th:replace="/fragments/sidebar-specialdeals :: sidebar-specialdeals"></div>-->
    <!--&lt;!&ndash; ============================================== SPECIAL DEALS : END ============================================== &ndash;&gt;-->
    <!--&lt;!&ndash; ============================================== NEWSLETTER ============================================== &ndash;&gt;-->
    <!--<div th:replace="/fragments/sidebar-newsletter :: sidebar-newsletter"></div>-->
    <!--&lt;!&ndash; ============================================== NEWSLETTER: END ============================================== &ndash;&gt;-->
    <!--&lt;!&ndash; ============================================== Testimonials============================================== &ndash;&gt;-->
    <!--<div th:replace="/fragments/sidebar-testimonials :: sidebar-testimonials"></div>-->
    <!--&lt;!&ndash; ============================================== Testimonials: END ============================================== &ndash;&gt;    -->

</div>
</body>
</html>