<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <title th:text = "#{home.welcome}">Flipmart premium HTML5 & CSS3 Template</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="sidebar-widget outer-bottom-small wow fadeInUp" th:fragment="sidebar-specialdeals">
    <h3 class="section-title">Special Deals</h3>
    <div class="sidebar-widget-body outer-top-xs">
        <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
            <div class="item">
                <div class="products special-product">
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p28.jpg"  alt="">
                                            </a>
                                        </div><!-- /.image -->


                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p15.jpg"  alt="">
                                            </a>
                                        </div><!-- /.image -->


                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img data-echo="assets/images/products/p26.jpg"  alt="">
                                            </a>
                                        </div><!-- /.image -->


                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products special-product">
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p18.jpg" alt="">
                                            </a>
                                        </div><!-- /.image -->


                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p17.jpg" alt="">
                                            </a>
                                        </div><!-- /.image -->



                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p16.jpg" alt="">
                                            </a>
                                        </div><!-- /.image -->


                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products special-product">
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img data-echo="assets/images/products/p15.jpg" alt="">
                                                <div class="zoom-overlay"></div>
                                            </a>
                                        </div><!-- /.image -->



                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p14.jpg"  alt="">
                                                <div class="zoom-overlay"></div>
                                            </a>
                                        </div><!-- /.image -->



                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                    <div class="product">
                        <div class="product-micro">
                            <div class="row product-micro-row">
                                <div class="col col-xs-5">
                                    <div class="product-image">
                                        <div class="image">
                                            <a href="#">
                                                <img src="assets/images/products/p13.jpg" alt="">
                                            </a>
                                        </div><!-- /.image -->


                                    </div><!-- /.product-image -->
                                </div><!-- /.col -->
                                <div class="col col-xs-7">
                                    <div class="product-info">
                                        <h3 class="name"><a href="#">Floral Print Shirt</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="product-price">
				<span class="price">
					$450.99				</span>

                                        </div><!-- /.product-price -->

                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.product-micro-row -->
                        </div><!-- /.product-micro -->

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.sidebar-widget-body -->
</div><!-- /.sidebar-widget -->
</body>
</html>