<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>
<body>
<div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs" th:fragment="sidebar-hotdeals">
    <h3 class="section-title">hot deals</h3>
    <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">

        <div class="item">
            <div class="products">
                <div class="hot-deal-wrapper">
                    <div class="image">
                        <img src="assets/images/hot-deals/p25.jpg" alt="">
                    </div>
                    <div class="sale-offer-tag"><span>49%<br>off</span></div>
                    <div class="timing-wrapper">
                        <div class="box-wrapper">
                            <div class="date box">
                                <span class="key">120</span>
                                <span class="value">DAYS</span>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="hour box">
                                <span class="key">20</span>
                                <span class="value">HRS</span>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="minutes box">
                                <span class="key">36</span>
                                <span class="value">MINS</span>
                            </div>
                        </div>

                        <div class="box-wrapper hidden-md">
                            <div class="seconds box">
                                <span class="key">60</span>
                                <span class="value">SEC</span>
                            </div>
                        </div>
                    </div>
                </div><!-- /.hot-deal-wrapper -->

                <div class="product-info text-left m-t-20">
                    <h3 class="name"><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small"></div>

                    <div class="product-price">
								<span class="price">
									$600.00
								</span>

                        <span class="price-before-discount">$800.00</span>

                    </div><!-- /.product-price -->

                </div><!-- /.product-info -->

                <div class="cart clearfix animate-effect">
                    <div class="action">

                        <div class="add-cart-button btn-group">
                            <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </div>

                    </div><!-- /.action -->
                </div><!-- /.cart -->
            </div>
        </div>
        <div class="item">
            <div class="products">
                <div class="hot-deal-wrapper">
                    <div class="image">
                        <img src="assets/images/hot-deals/p5.jpg" alt="">
                    </div>
                    <div class="sale-offer-tag"><span>35%<br>off</span></div>
                    <div class="timing-wrapper">
                        <div class="box-wrapper">
                            <div class="date box">
                                <span class="key">120</span>
                                <span class="value">Days</span>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="hour box">
                                <span class="key">20</span>
                                <span class="value">HRS</span>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="minutes box">
                                <span class="key">36</span>
                                <span class="value">MINS</span>
                            </div>
                        </div>

                        <div class="box-wrapper hidden-md">
                            <div class="seconds box">
                                <span class="key">60</span>
                                <span class="value">SEC</span>
                            </div>
                        </div>
                    </div>
                </div><!-- /.hot-deal-wrapper -->

                <div class="product-info text-left m-t-20">
                    <h3 class="name"><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small"></div>

                    <div class="product-price">
								<span class="price">
									$600.00
								</span>

                        <span class="price-before-discount">$800.00</span>

                    </div><!-- /.product-price -->

                </div><!-- /.product-info -->

                <div class="cart clearfix animate-effect">
                    <div class="action">

                        <div class="add-cart-button btn-group">
                            <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </div>

                    </div><!-- /.action -->
                </div><!-- /.cart -->
            </div>
        </div>
        <div class="item">
            <div class="products">
                <div class="hot-deal-wrapper">
                    <div class="image">
                        <img src="assets/images/hot-deals/p10.jpg" alt="">
                    </div>
                    <div class="sale-offer-tag"><span>35%<br>off</span></div>
                    <div class="timing-wrapper">
                        <div class="box-wrapper">
                            <div class="date box">
                                <span class="key">120</span>
                                <span class="value">Days</span>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="hour box">
                                <span class="key">20</span>
                                <span class="value">HRS</span>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="minutes box">
                                <span class="key">36</span>
                                <span class="value">MINS</span>
                            </div>
                        </div>

                        <div class="box-wrapper hidden-md">
                            <div class="seconds box">
                                <span class="key">60</span>
                                <span class="value">SEC</span>
                            </div>
                        </div>
                    </div>
                </div><!-- /.hot-deal-wrapper -->

                <div class="product-info text-left m-t-20">
                    <h3 class="name"><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small"></div>

                    <div class="product-price">
								<span class="price">
									$600.00
								</span>

                        <span class="price-before-discount">$800.00</span>

                    </div><!-- /.product-price -->

                </div><!-- /.product-info -->

                <div class="cart clearfix animate-effect">
                    <div class="action">

                        <div class="add-cart-button btn-group">
                            <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </div>

                    </div><!-- /.action -->
                </div><!-- /.cart -->
            </div>
        </div>


    </div><!-- /.sidebar-widget -->
</div>
</body>
</html>