<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="/assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="/assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="/assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="header-nav animate-dropdown" th:fragment="top-navbar">
    <div class="container">
        <div class="yamm navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="nav-bg-class">
                <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                    <div class="nav-outer">
                        <ul class="nav navbar-nav">
                            <li class="active dropdown yamm-fw">
                                <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Home</a>

                            </li>
                            <li class="dropdown yamm mega-menu">
                                <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Clothing</a>
                                <ul class="dropdown-menu container">
                                    <li>
                                        <div class="yamm-content ">
                                            <div class="row">

                                                <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                    <h2 class="title">Men</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Shoes </a></li>
                                                        <li><a href="#">Jackets</a></li>
                                                        <li><a href="#">Sunglasses</a></li>
                                                        <li><a href="#">Sport Wear</a></li>
                                                        <li><a href="#">Blazers</a></li>
                                                        <li><a href="#">Shirts</a></li>

                                                    </ul>
                                                </div><!-- /.col -->

                                                <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                    <h2 class="title">Women</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Handbags</a></li>
                                                        <li><a href="#">Jwellery</a></li>
                                                        <li><a href="#">Swimwear </a></li>
                                                        <li><a href="#">Tops</a></li>
                                                        <li><a href="#">Flats</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">Winter Wear</a></li>

                                                    </ul>
                                                </div><!-- /.col -->

                                                <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                    <h2 class="title">Boys</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Toys & Games</a></li>
                                                        <li><a href="#">Jeans</a></li>
                                                        <li><a href="#">Shirts</a></li>
                                                        <li><a href="#">Shoes</a></li>
                                                        <li><a href="#">School Bags</a></li>
                                                        <li><a href="#">Lunch Box</a></li>
                                                        <li><a href="#">Footwear</a></li>

                                                    </ul>
                                                </div><!-- /.col -->

                                                <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                    <h2 class="title">Girls</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Sandals </a></li>
                                                        <li><a href="#">Shorts</a></li>
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Jwellery</a></li>
                                                        <li><a href="#">Bags</a></li>
                                                        <li><a href="#">Night Dress</a></li>
                                                        <li><a href="#">Swim Wear</a></li>


                                                    </ul>
                                                </div><!-- /.col -->


                                                <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image">
                                                    <img class="img-responsive" src="assets/images/banners/top-menu-banner.jpg" th:src="@{/assets/images/banners/top-menu-banner.jpg}" alt="">






                                                </div><!-- /.yamm-content -->
                                            </div>
                                        </div>

                                    </li>
                                </ul>

                            </li>

                            <li class="dropdown mega-menu">
                                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Electronics
                                    <span class="menu-label hot-menu hidden-xs">hot</span>
                                </a>
                                <ul class="dropdown-menu container">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                    <h2 class="title">Laptops</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Gaming</a></li>
                                                        <li><a href="#">Laptop Skins</a></li>
                                                        <li><a href="#">Apple</a></li>
                                                        <li><a href="#">Dell</a></li>
                                                        <li><a href="#">Lenovo</a></li>
                                                        <li><a href="#">Microsoft</a></li>
                                                        <li><a href="#">Asus</a></li>
                                                        <li><a href="#">Adapters</a></li>
                                                        <li><a href="#">Batteries</a></li>
                                                        <li><a href="#">Cooling Pads</a></li>
                                                    </ul>
                                                </div><!-- /.col -->

                                                <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                    <h2 class="title">Desktops</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Routers & Modems</a></li>
                                                        <li><a href="#">CPUs, Processors</a></li>
                                                        <li><a href="#">PC Gaming Store</a></li>
                                                        <li><a href="#">Graphics Cards</a></li>
                                                        <li><a href="#">Components</a></li>
                                                        <li><a href="#">Webcam</a></li>
                                                        <li><a href="#">Memory (RAM)</a></li>
                                                        <li><a href="#">Motherboards</a></li>
                                                        <li><a href="#">Keyboards</a></li>
                                                        <li><a href="#">Headphones</a></li>
                                                    </ul>
                                                </div><!-- /.col -->

                                                <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                    <h2 class="title">Cameras</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Accessories</a></li>
                                                        <li><a href="#">Binoculars</a></li>
                                                        <li><a href="#">Telescopes</a></li>
                                                        <li><a href="#">Camcorders</a></li>
                                                        <li><a href="#">Digital</a></li>
                                                        <li><a href="#">Film Cameras</a></li>
                                                        <li><a href="#">Flashes</a></li>
                                                        <li><a href="#">Lenses</a></li>
                                                        <li><a href="#">Surveillance</a></li>
                                                        <li><a href="#">Tripods</a></li>

                                                    </ul>
                                                </div><!-- /.col -->
                                                <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                    <h2 class="title">Mobile Phones</h2>
                                                    <ul class="links">
                                                        <li><a href="#">Apple</a></li>
                                                        <li><a href="#">Samsung</a></li>
                                                        <li><a href="#">Lenovo</a></li>
                                                        <li><a href="#">Motorola</a></li>
                                                        <li><a href="#">LeEco</a></li>
                                                        <li><a href="#">Asus</a></li>
                                                        <li><a href="#">Acer</a></li>
                                                        <li><a href="#">Accessories</a></li>
                                                        <li><a href="#">Headphones</a></li>
                                                        <li><a href="#">Memory Cards</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner">
                                                    <a href="#"><img alt="" src="assets/images/banners/banner-side.png" th:src="@{/assets/images/banners/banner-side.png}"></a>
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.yamm-content -->					</li>
                                </ul>
                            </li>
                            <li class="dropdown hidden-sm">

                                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">Health & Beauty
                                    <span class="menu-label new-menu hidden-xs">new</span>
                                </a>
                            </li>

                            <li class="dropdown hidden-sm">
                                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">Watches</a>
                            </li>

                            <li class="dropdown">
                                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/contact.html">Jewellery</a>
                            </li>

                            <li class="dropdown">
                                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/contact.html">Shoes</a>
                            </li>
                            <li class="dropdown">
                                <a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/contact.html">Kids & Girls</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Pages</a>
                                <ul class="dropdown-menu pages">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">

                                                <div class="col-xs-12 col-menu">
                                                    <ul class="links">
                                                        <li><a href="home.html">Home</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">Category</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/detail.html">Detail</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/shopping-cart.html">Shopping Cart Summary</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/checkout.html">Checkout</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/blog.html">Blog</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/blog-details.html">Blog Detail</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/contact.html">Contact</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/sign-in.html">Sign In</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/my-wishlist.html">Wishlist</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/terms-conditions.html">Terms and Condition</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/track-orders.html">Track Orders</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/product-comparison.html">Product-Comparison</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/faq.html">FAQ</a></li>
                                                        <li><a href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/404.html">404</a></li>

                                                    </ul>
                                                </div>



                                            </div>
                                        </div>
                                    </li>



                                </ul>
                            </li>
                            <li class="dropdown  navbar-right special-menu">
                                <a href="#">Todays offer</a>
                            </li>


                        </ul><!-- /.navbar-nav -->
                        <div class="clearfix"></div>
                    </div><!-- /.nav-outer -->
                </div><!-- /.navbar-collapse -->


            </div><!-- /.nav-bg-class -->
        </div><!-- /.navbar-default -->
    </div><!-- /.container-class -->

</div><!-- /.header-nav -->
</body>
</html>