<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/css/main.css" th:href="@{/assets/css/main.css}">
    <link rel="stylesheet" href="/assets/css/blue.css" th:href="@{/assets/css/blue.css}">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" th:href="@{/assets/css/owl.carousel.css}">
    <link rel="stylesheet" href="/assets/css/owl.transitions.css" th:href="@{/assets/css/owl.transitions.css}">
    <link rel="stylesheet" href="/assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" href="/assets/css/rateit.css" th:href="@{/assets/css/rateit.css}">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" th:href="@{/assets/css/bootstrap-select.min.css}">




    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/css/font-awesome.css" th:href="@{/assets/css/font-awesome.css}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="search-area" th:fragment="top-search">
    <form>
        <div class="control-group">

            <ul class="categories-filter animate-dropdown">
                <li class="dropdown">

                    <a class="dropdown-toggle"  data-toggle="dropdown" href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">Categories <b class="caret"></b></a>

                    <ul class="dropdown-menu" role="menu" >
                        <li class="menu-header">Computer</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">- Clothing</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">- Electronics</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">- Shoes</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="../../../../../../../Development/Themes/Themeforest%20-%20flipmart/Flipmart-responsive-HTML-template/V3/HTML/category.html">- Watches</a></li>

                    </ul>
                </li>
            </ul>

            <input class="search-field" placeholder="Search here..." />

            <a class="search-button" href="#" ></a>

        </div>
    </form>
</div><!-- /.search-area -->
</body>
</html>